@inherits LayoutComponentBase

<BlazoredToasts InfoIcon="fa fa-info-circle"
                WarningIcon="fa fa-exclamation-triangle"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-frown"
                IconType="IconType.FontAwesome" />

<NavMenu></NavMenu>

<div class="container">
    @Body
</div>

<RadzenDialog />
<RadzenTooltip />

<SiteFooter></SiteFooter>