<div class="text-center" style="margin-top: 10px; margin-bottom: 30px;">
    Version @version
    @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
</div>

@code
{
    Version version = typeof(Program).Assembly.GetName().Version;
}